.landscape-overlay {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem;
    box-sizing: border-box;
    opacity: 1;
    z-index: 1001; /* Ensure it is above other elements */
    pointer-events: none; /* Prevent interaction when hidden */
    font-size: .9em 
  }