:root {
  --video-height: 50vh; /* Default height for wide screens */
  --video-aspect-ratio: 16 / 9; /* Default aspect ratio for wide screens */
}

.top-row {
  display: flex;
  align-items: center;
  height: var(--video-height); /* Dynamic height based on screen orientation */
  width: 100%; /* Full viewport width */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.top-row-item {
  height: 100%; /* Match row height */
  background: black; /* Background for visualization */
  background-size: cover;
    background-position: center;
  /* Width is dynamically set via inline styles in TopRow.js */
}

