/* App.css */
/* @media screen and (orientation: landscape) {
    body {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  }
  
  @media screen and (orientation: portrait) {
    body {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  } */