/* App.css */
@media screen and (orientation: landscape) {
    body {
      width: 100vw;
      height: 100dvh;
      overflow: hidden;
    }
  }
  
  @media screen and (orientation: portrait) {
    body {
      width: 100vw;
      height: 100dvh;
      overflow: hidden;
    }
  }